# Mock Hackathon

In [17]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import f1_score

sample submission

In [11]:
local_path = os.path.join('data','sample_submission.csv')
url = 'https://raw.githubusercontent.com/samsung-ai-course/8th-9th-edition/refs/heads/main/Chapter%205%20-%20Responsible%20AI/data/sample_submission.csv'
df_sample_submission = pd.read_csv(url)
df_sample_submission

         id  proba
0      7991    0.5
1     31470    0.5
2     27345    0.5
3      7509    0.5
4     61999    0.5
...     ...    ...
4495  87722    0.5
4496  16925    0.5
4497  35300    0.5
4498  86129    0.5
4499  72473    0.5

[4500 rows x 2 columns]

test data to create submissions on

In [12]:
local_path = os.path.join('data','test.csv')
url = 'https://raw.githubusercontent.com/samsung-ai-course/8th-9th-edition/refs/heads/main/Chapter%205%20-%20Responsible%20AI/data/test.csv'
df_test = pd.read_csv(url, low_memory=False)
df_test

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
0,0x44d1,CUS_0xb1da,August,Paulj,35,671-03-8487,Doctor,110721.66_,9259.805000,3,...,6.0,_,281.42,28.620300,26 Years and 6 Months,No,209.245449,131.5562784570291,High_spent_Medium_value_payments,835.178773
1,0xce64,CUS_0x6f55,July,Leongr,53,923-48-1651,Writer,18579.36,1298.280000,0,...,1.0,Good,1329.98,29.681948,29 Years and 9 Months,No,16.174857,150.7169895127531,!@9#%8,252.936153
2,0xb63b,CUS_0x880b,February,Jones Lisag,21,790-45-5982,Writer,7830.03,775.502500,8,...,8.0,Bad,1255.57,27.130360,5 Years and 5 Months,Yes,31.593600,47.532261487489116,Low_spent_Medium_value_payments,278.424389
3,0x41ff,CUS_0x4a83,June,NaN,19,408-42-1764,Engineer,35322.24_,2805.520000,5,...,2.0,_,907.76,34.294300,30 Years and 6 Months,NM,61.725788,185.52382946164252,!@9#%8,293.302383
4,0x18145,CUS_0x7d6c,August,Eileenc,24,424-12-8828,Scientist,17307708.0,7093.165000,5,...,4.0,Standard,218.44,39.448697,28 Years and 0 Months,No,72.633969,371.05530058370016,High_spent_Small_value_payments,525.627230
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4495,0x21800,CUS_0x4bef,March,McAllisterb,18,783-63-1238,Journalist,38505.32,2922.147520,7,...,4.0,Standard,2159.19,25.539420,10 Years and 1 Months,Yes,214.658697,24.791647923065504,High_spent_Large_value_payments,450.756468
4496,0x792b,CUS_0xa6f9,June,Kevin Drawbaughf,29,#F%$D@*&8,Scientist,46722.72,3781.560000,9,...,16.0,_,4764.13,28.066109,8 Years and 10 Months,Yes,284.659751,279.81362006108316,Low_spent_Small_value_payments,103.682629
4497,0xe4d6,CUS_0x262e,May,Karina Grazinax,23,216-94-2190,Journalist,8983.565,645.630417,6,...,8.0,Standard,1270.65,28.235121,15 Years and 0 Months,Yes,9.885125,16.832254838086712,Low_spent_Medium_value_payments,317.845662
4498,0x20eab,CUS_0x3ce2,February,Suzannek,29,776-82-8001,Engineer,14095.93,1310.660833,9,...,7.0,Bad,2790.05,27.949570,1 Years and 6 Months,Yes,37.745141,54.5238056664076,High_spent_Small_value_payments,298.797136
4499,0x1bea7,CUS_0x9e80,February,Noelc,39,209-05-4739,Journalist,104455.02,NaN,4,...,9.0,Good,1222.3,40.053292,28 Years and 2 Months,No,215.110323,132.88148129541378,High_spent_Large_value_payments,781.266696

historical data to train models on

In [13]:
local_path = os.path.join('data','history.csv')
url = 'https://raw.githubusercontent.com/samsung-ai-course/8th-9th-edition/refs/heads/main/Chapter%205%20-%20Responsible%20AI/data/history.csv'
df_train = pd.read_csv(url, low_memory=False)
print(df_train.shape)
df_train.head(3)

(33412, 28)

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
2,0x1607,CUS_0xd40,June,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,27.262259,22 Years and 6 Months,No,49.574949,62.430172331195294,!@9#%8,340.4792117872438,Good

In [40]:
print(df_train['Credit_Score'].unique())

print(df_train['Age'].unique())

['Good' 'Poor']
['23' '-500' '28' '34' '31' '34_' '7580' '30_' '30' '24' '44' '45' '33_'
 '33' '39' '20' '26' '32' '41' '42' '37' '38' '55' '5079' '43' '36' '16'
 '21' '22' '19' '20_' '27' '25' '14' '46' '17' '18' '4431' '47' '35' '15'
 '53_' '53' '37_' '19_' '54' '31_' '29' '42_' '43_' '48' '38_' '18_'
 '2534' '3115' '51' '50' '50_' '49' '32_' '16_' '2744' '40' '48_' '4872'
 '22_' '52' '28_' '40_' '26_' '51_' '2056' '25_' '46_' '8406' '36_' '6953'
 '24_' '548' '44_' '525' '54_' '6619' '1808' '7992' '1232' '6895' '395'
 '7099' '6048' '123' '29_' '45_' '5053' '5604' '1206' '56' '1812' '3724'
 '39_' '47_' '41_' '4351' '52_' '3937' '3542' '2239' '27_' '23_' '7851'
 '6306' '15_' '6846' '6868' '831' '2751' '733_' '5612' '21_' '4645' '49_'
 '3666' '491' '692' '4745' '35_' '5769_' '919' '5376' '112' '6365' '3353'
 '8562' '7750' '17_' '2650_' '2636' '1753' '6389' '181' '5504' '5583'
 '2456' '4155' '2584' '5017' '8034' '5256' '2419' '6962_' '3578' '4572'
 '1512' '8442' '4517' '7525' '7153' '2400' '6331' '8043' '8155' '2090'
 '4126' '1681' '8000' '7935' '622' '2369' '8216' '7289' '236' '6707' '493'
 '4682' '375' '5152' '8200' '14_' '2379' '7123' '556' '7032' '4626' '2799'
 '1816' '609' '2514' '6276' '8153_' '7026' '1143' '5870' '1578' '4404'
 '4021' '3602' '306' '1066' '1062' '8472' '7553' '1357' '6385' '2451'
 '3480' '3357' '711' '8567' '3132' '8582' '7295' '3493' '4390' '6471_'
 '7723_' '4444' '6649' '4380' '5714' '5781' '7640_' '1112' '3546' '8082'
 '1436' '3519' '6175' '7316_' '4163' '5796' '6943' '8338' '8639' '6322'
 '6384' '3036' '1270' '634' '5520' '55_' '7042' '6796' '6646' '1852'
 '4416' '8151' '216' '7965' '7092' '1657' '6995' '7441' '6485' '7702'
 '946' '6767' '56_' '5195' '3933' '774' '1811' '1452' '4058' '4370' '6411'
 '169' '3055_' '5649' '3244' '879' '1024' '6037' '1484' '4643' '8514'
 '2220_' '6360' '5996' '6892' '2159_' '4890' '4661' '1386' '6074' '5906'
 '203' '8124' '4484' '2778' '2434' '742' '4177' '5202' '3843' '7038'
 '8384' '2574' '1644' '111' '1176' '1418' '7879' '573' '3726' '1754'
 '4194' '7549' '3988_' '5741' '5116' '404' '3023' '5032' '4787' '305'
 '4107' '8623' '6407' '399' '2977' '5532' '3096' '1971' '4244' '3853'
 '2672' '2155_' '4846' '7773' '2182' '4687' '4980' '6301' '678' '5288'
 '5177' '506' '4525' '5117' '2048' '1786' '3369' '3899' '6770_' '5156'
 '1330' '4307' '6463' '6349' '2988' '5959' '449' '514' '252' '1367_' '553'
 '1355' '8291' '8154' '2347' '6098' '2593' '4232' '5287' '2449' '7556'
 '640' '5109_' '1571' '8333' '6863' '655' '4914' '292' '4847' '736' '3639'
 '3492' '2696' '7894' '8525' '8004' '813' '8246' '3365' '4863' '2184'
 '581' '502' '1618' '737' '8251' '221' '6663' '3463' '6516' '4622' '240'
 '568' '1593' '2474_' '7444' '5046_' '4881' '4909' '6283' '6894' '7619'
 '1695' '1384' '6286' '4494' '7912' '5924' '8386' '5981' '4655' '8371'
 '2895' '8389' '3930' '6652' '5132' '2749' '7690' '3638' '4536' '3197'
 '2512' '2221' '1689' '1883' '7962' '6121' '4196' '3337' '8455' '5627'
 '7618' '2038' '3718' '4501' '6210' '4034' '6288' '7919' '3814' '819'
 '1525' '844_' '4946' '2580' '3413' '2987' '7386' '8035' '1144' '2024'
 '7082' '1792' '1643' '8394' '3920' '5463' '6733' '3854' '924' '7065'
 '1441' '7641' '940' '2360' '5233' '3402' '6433' '6909' '5579' '3417'
 '8150' '7746' '1958' '2309' '5413' '2113' '2116' '7240' '751' '1217'
 '6501' '7868' '933' '8569' '1324' '6747' '2604' '6991' '2097_' '1149'
 '8348_' '1388' '8306' '8127' '8616' '1537' '6113' '6632' '6460' '434'
 '5730' '1136' '3765' '4566' '7151' '5164' '3326' '7663' '1235' '1004'
 '1040' '6435' '5940' '3944' '2386' '5222' '3291_' '3200' '8072' '7925'
 '7266' '3339_' '6092' '448' '2926' '7264' '5400' '3578_' '3513' '7733'
 '5419' '8199' '2329_' '7967' '4781' '1664' '3367' '535' '8113' '5767'
 '806' '7493' '2405' '2928' '2713' '8403' '1794_' '6736' '6291' '4967'
 '2253' '7615' '2546' '5791' '5421' '3610' '4552' '5742' '8466' '1172'
 '8470' '8288' '3167' '7286' '1485' '3720' '3213' '5939' '7256' '2846_'
 '1409' '2756' '5587' '6493' '5270' '5580' '4607' '7762' '8207_' '115'
 '8198' '1782' '1683' '6040' '2334' '7388' '8697' '2318' '2351' '5988'
 '8616_' '6799_' '1460' '7681' '2104' '3775_' '4271' '7832' '4464' '8379'
 '1028' '2598' '1322' '3888' '7765' '6379' '2471' '6341' '725' '2871'
 '2357' '690' '992' '5512' '5656' '532' '8015' '3640' '3441' '6226' '8279'
 '1154' '8481' '941' '820' '4913_' '4970' '7768' '6086' '4774' '5422'
 '1850' '6043' '2659' '3124' '7753' '5052' '3450' '5122' '4521' '4929'
 '1368' '4041' '2108' '7865' '3689' '3919' '5541' '3861' '1321' '1439'
 '462' '262' '6964' '2679' '7524' '1101' '7410' '4615' '7417' '962' '6990'
 '6364' '5426' '1234' '2441' '2509' '1394' '1200' '7481' '8297' '3483'
 '5147' '920' '4402' '1070_' '2406' '8315' '2263']

# Exercise 1

Train a model on this data and perform threshold analysis. Create a submission that maximizes for f1_score

In [45]:
#  Assign train/test
train = df_train.copy()
test = df_test.copy()
test_ids = test['ID']

# Drop irrelevant columns from train/test
drop_cols = ['ID', 'Customer_ID', 'SSN']
train = train.drop(drop_cols, axis=1)
test = test.drop(drop_cols, axis=1)

#  Clean numeric columns
numeric_cols = ['Age', 'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts',
                'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan', 'Delay_from_due_date',
                'Num_of_Delayed_Payment', 'Changed_Credit_Limit', 'Num_Credit_Inquiries',
                'Outstanding_Debt', 'Credit_Utilization_Ratio', 'Total_EMI_per_month',
                'Amount_invested_monthly', 'Monthly_Balance']

for col in numeric_cols:
    if col in train.columns:
        train[col] = train[col].astype(str).str.replace(',', '').str.strip()
        train[col] = pd.to_numeric(train[col], errors='coerce')
        median_val = train[col][train[col] > 0].median()
        train[col] = train[col].apply(lambda x: median_val if pd.isna(x) or x <= 0 else x)

    if col in test.columns:
        test[col] = test[col].astype(str).str.replace(',', '').str.strip()
        test[col] = pd.to_numeric(test[col], errors='coerce')
        test[col] = test[col].fillna(median_val)


# Convert 'Credit_History_Age' to numeric (months)
def convert_credit_history_age(x):
    try:
        parts = x.split(' ')
        years = int(parts[0])
        months = int(parts[3])
        total_months = years * 12 + months
        return total_months
    except:
        return np.nan

train['Credit_History_Age'] = train['Credit_History_Age'].apply(convert_credit_history_age)
test['Credit_History_Age'] = test['Credit_History_Age'].apply(convert_credit_history_age)

median_val = train['Credit_History_Age'].median()
train['Credit_History_Age'] = train['Credit_History_Age'].fillna(median_val)
test['Credit_History_Age'] = test['Credit_History_Age'].fillna(median_val)

# Is now a numerical col
numeric_cols.append('Credit_History_Age')

# Encode categorical columns
categorical_cols = ['Name', 'Occupation', 'Type_of_Loan', 'Credit_Mix',
                    'Payment_of_Min_Amount', 'Payment_Behaviour', 'Month']

for col in categorical_cols:
    if col in train.columns:
        train[col] = train[col].replace(['_', '!@9#%8', 'NaN', np.nan], 'Unknown')
        le = LabelEncoder()
        train[col] = le.fit_transform(train[col].astype(str))

    if col in test.columns:
        test[col] = test[col].replace(['_', '!@9#%8', 'NaN', np.nan], 'Unknown')
        le = LabelEncoder()
        test[col] = le.fit_transform(test[col].astype(str))

#  Map target
train['Credit_Score_Binary'] = train['Credit_Score'].map({'Good': 1, 'Poor': 0})
y = train['Credit_Score_Binary']
X = train.drop(['Credit_Score', 'Credit_Score_Binary'], axis=1)

# Scale numeric features
scaler = StandardScaler()
X[numeric_cols] = scaler.fit_transform(X[numeric_cols])
test[numeric_cols] = scaler.transform(test[numeric_cols])

# Split train/validation
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

# Train Random Forest
model = RandomForestClassifier(n_estimators=500, random_state=42, class_weight = 'balanced')
model.fit(X_train, y_train)

# Threshold analysis for max F1
y_probs = model.predict_proba(X_val)[:, 1]
thresholds = np.arange(0.1, 0.9, 0.01)
best_threshold = 0.5
best_f1 = 0

for t in thresholds:
    y_pred = (y_probs >= t).astype(int)
    f1 = f1_score(y_val, y_pred)
    if f1 > best_f1:
        best_f1 = f1
        best_threshold = t

print(f"Best threshold: {best_threshold}, Best F1 score: {best_f1}")

# Make predictions on test set
test_probs = model.predict_proba(test)[:, 1]
test_preds = (test_probs >= best_threshold).astype(int)
test_preds_labels = np.where(test_preds == 1, 'Good', 'Poor')

# Create submission
submission = pd.DataFrame({
    'id': test_ids,
    'pred': test_preds_labels
})
submission.to_csv('submission.csv', index=False)

Best threshold: 0.47999999999999976, Best F1 score: 0.8809368900455433

In [46]:
print(submission['pred'].value_counts())

pred
Poor    3550
Good     950
Name: count, dtype: int64

# Exercise 2

Assume the cost of a False positive is 30€ and the benefit of a True Positive is 70€, create a submission that maximizes for this.

In [39]:
y_probs = model.predict_proba(X_val)[:, 1]
thresholds = np.arange(0.1, 0.9, 0.01)

best_threshold = 0.5
best_profit = -np.inf

for t in thresholds:
    y_pred = (y_probs >= t).astype(int)
    profit = np.sum((y_pred == 1) & (y_val == 1) * 70) - np.sum((y_pred == 1) & (y_val == 0) * 30)
    if profit > best_profit:
        best_profit = profit
        best_threshold = t

print(f"Best threshold for max profit: {best_threshold}, Profit: €{best_profit}")

Best threshold for max profit: 0.1, Profit: €0

# Exercise 3

Evaluate the fairness of your model using [aequitas](https://github.com/dssg/aequitas)